/* Pokemon image styles */
.pokemon-image {
    width: 200px;
    height: 200px;
  }
  
  /* Table styles */
  .pokemon-table {
    border-collapse: collapse;
    width: 50%;
  }
  
  .table-cell {
    border: 1px solid black;
    padding: 8px;
  }
  
  .attribute-column {
    width: 10%;
  }